.product-image {
  position:relative;
  transition:all .3s ease 0s;
}
.product-image a {
  display:block;
}
.product-image img {
  width:100%;
  height:auto;
}

.title {
  font-size:22px;
  font-weight:400;
  letter-spacing:.5px;
  text-transform:uppercase;
  margin:0 0 10px;
  transition:all .3s ease 0s;
}

.price {
  color:#333;
  font-size:17px;
  font-family:Montserrat,sans-serif;
  font-weight:700;
  letter-spacing:.6px;
  margin-bottom:8px;
  // text-align:center;
  transition:all .3s;
}